**/node_modules
**/*~
dist
package-lock.json
**/*solved*
**/*Config.js*
/public/*.js
/public/*.html
*.env
**/.firebase/*
.firebase/hosting.ZGlzdA.cache
src/.DS_Store
src/.firebaseConfig 2.js.icloud
.vite.config 2.js.icloud
.DS_Store
